# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
bin/
target/

# STS / Spring Tool Suite
.springBeans

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Eclipse workspace (절대 커밋 금지)
.metadata/

# Eclipse project files (원하면 제외)
.settings/
bin/
*.log

# Tomcat work/temp (필요시 경로 맞게 수정)
work/
temp/