<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="PATTERN">%d{HH:mm:ss.SSS} %-5level [%t] %logger{36} - [traceId=%X{traceId}] %msg%n</Property>
        <Property name="APP_LOG_LEVEL">${env:ADMIN_APP_LOG_LEVEL:-info}</Property>
        <Property name="MYBATIS_LOG_LEVEL">${env:ADMIN_MYBATIS_LOG_LEVEL:-info}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.realhogoo" level="${APP_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.mybatis" level="${MYBATIS_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.ibatis" level="${MYBATIS_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
