<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.realhogoo.jsadmin.code.mapper.CodeMapper">

    <select id="selectCodeListAll" resultType="map">
        SELECT
            CODE_SEQ AS code_seq,
            CODE_GRP_CD AS code_grp_cd,
            CODE_CD AS code_cd,
            CODE_NM AS code_nm,
            CODE_DESC AS code_desc,
            NVL(SORT_ORD, 0) AS SORT_ORD,
            NVL(USE_YN, 'Y') AS USE_YN
        FROM ADM_CODE_MST
        WHERE NVL(USE_YN, 'Y') = 'Y'
        ORDER BY CODE_GRP_CD, NVL(SORT_ORD, 0), CODE_SEQ
    </select>

    <select id="countDupCode" resultType="int">
        SELECT COUNT(1)
          FROM ADM_CODE_MST
         WHERE CODE_GRP_CD = #{code_grp_cd}
           AND CODE_CD = #{code_cd}
           AND NVL(USE_YN, 'Y') = 'Y'
           <if test="code_seq != null">
           AND CODE_SEQ <![CDATA[<>]]> #{code_seq}
           </if>
    </select>

    <insert id="insertCode" parameterType="map">
        <selectKey keyProperty="code_seq" resultType="long" order="BEFORE">
            SELECT ADM_CODE_MST_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO ADM_CODE_MST (
            CODE_SEQ, CODE_GRP_CD, CODE_CD, CODE_NM, CODE_DESC,
            SORT_ORD, USE_YN, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY
        ) VALUES (
            #{code_seq}, #{code_grp_cd}, #{code_cd}, #{code_nm}, #{code_desc},
            NVL(#{sort_ord}, 0), NVL(#{use_yn}, 'Y'), SYSTIMESTAMP, #{created_by}, NULL, NULL
        )
    </insert>

    <update id="updateCode" parameterType="map">
        UPDATE ADM_CODE_MST
           SET CODE_GRP_CD = #{code_grp_cd},
               CODE_CD = #{code_cd},
               CODE_NM = #{code_nm},
               CODE_DESC = #{code_desc},
               SORT_ORD = NVL(#{sort_ord}, 0),
               USE_YN = NVL(#{use_yn}, 'Y'),
               UPDATED_AT = SYSTIMESTAMP,
               UPDATED_BY = #{updated_by}
         WHERE CODE_SEQ = #{code_seq}
    </update>

    <update id="deleteCode" parameterType="map">
        UPDATE ADM_CODE_MST
           SET USE_YN = 'N',
               UPDATED_AT = SYSTIMESTAMP,
               UPDATED_BY = #{updated_by}
         WHERE CODE_SEQ = #{code_seq}
    </update>

</mapper>
